# JWT Encryption Token Secret (minimum 256 bits, base64 encoded)
JWT_SECRET_KEY=c3VwZXItc2VjcmV0LWtleS1mb3ItY2FuaW5lYWktZW50ZXJwcmlzZS1wbGF0Zm9ybQ==

# Ports exposure
BACKEND_PORT=8080
WEB_APP_PORT=8081
AI_SERVICE_PORT=8000
